<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/styles.css" rel="stylesheet">
        <link rel="icon" href="./img/weather-icon.png">

    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <p>This site was created by Hamza Nasir. It uses data gotten from WeatherStack and PositionStack!</p>

            <h2>What I look like (sometimes)</h2>
            <img class="portrait-img" src="./img/my best pic.jpg"> 
        </div>
        

        {{>footer}}

    </body>
</html>